
@{
    ViewBag.Title = "FileDelete";
}

<h2>FileDelete</h2>

@{
    bool deleteSuccess = false;
    var photoName = "";

    if (IsPost)
    {
        photoName = Request["photoFileName"] + ".jpg";
        var fullPath = Server.MapPath("~/Views/Home/images/" + photoName);

        if (File.Exists(fullPath))
        {
            File.Delete(fullPath);
            deleteSuccess = true;
        }
    }
}

    <h1>Delete a Photo from the Site</h1>
    <form name="deletePhoto" action="" method="post">
        <p>
            File name of image to delete (without .jpg extension):
            <input name="photoFileName" type="text" value="" />
        </p>
        
        <p><input type="submit" value="Submit" /></p>
    </form>

    @if (deleteSuccess)
    {
        <p>
            @photoName deleted!
        </p>
    }


