
@{
    ViewBag.Title = "ShowImages";
}

@{ var imagePath = "";
    if (Request["photoChoice"] != null)
    {
        imagePath = @"../images/" + Request["photoChoice"];
    }
}

    <h1>Displaying an Image On the Fly</h1>
    <form method="post" action="">
        <div>
            I want to see:
            <select name="photoChoice">
                <option value="nike_logo4.jpg">Photo 1</option>
                <option value="nike_logo5.jpg">Photo 2</option>
                <option value="nike_logo6.jpg">Photo 3</option>
            </select>
            &nbsp;
            <input type="submit" value="Submit" />
        </div>
        <div style="padding:10px;">
            @if (imagePath != "")
            {
                <img src="@imagePath" alt="Sample Image" width="300px" />
            }
        </div>
    </form>


